 /* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

/* Freebies */

body {	/*the outer layer of the site and global style attributes*/
font-family: 'Raleway', sans-serif;
margin: 0px;
background: #edeae5;
}

#background {
    background: url('../img/background3.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*#main {
    position: absolute;
    color: white;
    bottom: 100px;
    left: 90px;
    text-align: left;
}
#heading {
    font-size: 48px;
}*/
#main {
    position: absolute;
    color: white;
    /*top: 90px;
    left: 90px;*/
    text-align: left;
    bottom: 190px;
    left: 90px;
}
#heading {
    font-size: 58px;
    font-family: 'Raleway', sans-serif;
}
#subheading {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;

}

#pic {
    height: 200px;
    padding: 10px;
    display: none;
/*    z-index: 100;
*/}
#nav {
    font-family: 'Raleway', sans-serif;   
    font-size: 20px;
    position: absolute;
    color: white;
    text-align: right;
    right: 90px;
    bottom: 90px;
}
